#inputbox
{

    border-radius: 10px;
    border-color:whitesmoke;
    background-color:whitesmoke;
    width:500px;
    height:45px;
    color:black;
    margin:10px;
}

#inputbox2
{
    font-weight: 500;
    border-radius: 10px;
    border-color:whitesmoke;
    background-color:whitesmoke;
    width:200px;
    height:45px;
    color:black;
    margin:10px;
}

#search_button
{
    margin:10px;
    border-radius: 10px;
    border-color:whitesmoke;
    background-color:whitesmoke;
    width: 70px;;
    height:45px;
    color:black;
    font-family: 'GangwonEduPowerExtraBoldA';
}

#btn_back
{
    float:right;
    display: block;
    margin:10px;
    border-radius: 10px;
    border-color:whitesmoke;
    background-color:whitesmoke;
    width: 70px;;
    height:45px;
    color:black;
    font-family: 'GangwonEduPowerExtraBoldA';
}

#content
{
    display:block;
    position: relative;
    width:600px;
}


#btn_acitve{
    width:100px;
    height: 50px;
    background-color:rgba(167, 186, 240, 0.377);
    border-radius: 10px;
    border-color:rgb(72, 72, 173);;
    color: rgb(72, 72, 173);
    padding:15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    font-size:15px;
    margin: 4px;
    font-family: 'LINESeedKR-Bd';
}
.button{
    position: relative;
    display: block;
    z-index: 2;
    /* float:left; */
    margin-left: 10px;
    margin-top: 10px;
}

#btn{
    width:100px;
    height: 50px;
    background-color:whitesmoke;
    border-radius: 10px;
    border-color:whitesmoke;
    color: black;
    padding:15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    font-size:15px;
    margin: 4px;
    font-family: 'LINESeedKR-Bd';
}




.component_checkbox{
    position:relative;
    z-index: 2;
    display:block;
    width:630px;
    height:150px;
    background-color: white;
}

.price{
    position: relative;
    font-size: 30px;
    margin:20px;
    font-family: 'GangwonEduPowerExtraBoldA';
}

.search{
    position:relative;
    display: block;
    z-index: 2;
    float:left;
    width:1000px;
    height:50px;
    margin-left: 20px;
    margin-top: 13px;
}

.component_price{
    position: relative;
    z-index: 2;
    display: block;
    float:left;
    width:600px;
    height:500px;
    margin:10px;
    background-color:white;
}

#data{
    position:relative;
}



#window{
    position: absolute;
    z-index: 1;
    /* margin-top: 10px; */
    background-color:white;
    width:630px;
    height: 1100px;
}


.title{
    display: block;
    margin:4px 4px 4px 4px;
    font-size:35px;
    font-family: 'SEBANG_Gothic_Bold';

}

#local_check{
    font-size: 30px;
    margin:30px;
    padding: 10px;
    background-color:whitesmoke;
    font-family: 'GangwonEduPowerExtraBoldA';
}
#local_check:hover {
    background-color:rgba(167, 186, 240, 0.377);
  }

.sub_window{

    position: relative;
    z-index: 3;
    background-color:white;
    width:630px;
    height:1100px;
}
#color{
    background-color:rgba(167, 186, 240, 0.377);
}
#cal_title{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size:30px;
    padding: 10px;
    margin:30px;
}

#expression{
    background-color:whitesmoke;
}

#cal_title2{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size:17px;
    padding: 5px;
    margin:5px;
}
#cal_title3{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size:30px;
    padding: 5px;
    margin:5px;
}
#special{
    padding: 10px;
    margin:10px;
    font-size:30px;
    background-color:rgba(167, 186, 240, 0.377);
}

#total_cost{
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size:50px;
    margin-left:30px;
    padding-left: 5px;
    background-color:rgba(167, 186, 240, 0.377);
}
#total_cal{
    padding: 20px;
    margin: 20px;
}
#info{
    font-size: 25px;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
